
#heading{
    color:red;
}

.logo{
    display: flex;
    width: 100px;
    margin: 5px;
}
.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    background-color: rgb(41, 96, 91);
    
    
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: white;
}


.nav-items > ul >li {
padding: 15px;
margin: 10px;

}
.res-container{
    
    width: 200px;
    height: 500px;
    margin: 15px;
    background-color: #f0f0f0;
    flex-wrap: wrap;
}
.res-container:hover{
    border: 1px solid #b9abab;
    cursor: pointer;
    flex-wrap: wrap;
}
.body{
    display: flex;
    margin: 5px;
    padding: 25px;
    flex-wrap: wrap;

    
}
.resimage{
   
    width:180px;
    
    padding: 10px;
}

.reslist-container{
    display: flex;
    flex-wrap: wrap;
}

.content{
   padding: 0 10px;
    margin: 5px;
}


.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 15px;
    background-color:#f0f0f0;
}
.resimage{
    height: 160px;
    width: 160px;
}

.filter{
    display: flex;
}

.filter-btn{
 
    margin: 10px;
}


.top-rated-button{
    margin: 10px;
    padding: 0px 10px;
}


.link{
    text-decoration: none;
    color: rgb(138, 116, 116);
}